<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <clear />
    <packageSource key="Canary-Build">
      <package pattern="Multicaster*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <packageSources>
    <add key="Canary-Build" value="https://pkgs.dev.azure.com/cysharp/Public/_packaging/Canary-Build/nuget/v3/index.json" />
  </packageSources>
</configuration>
