<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- configure of xUnit https://xunit.github.io/docs/configuring-with-xml.html -->
        <add key="xunit.methodDisplay" value="classAndMethod"/>
        <add key="xunit.parallelizeAssembly" value="true"/>
        <add key="xunit.parallelizeTestCollections" value="true"/>
    </appSettings>
</configuration>