<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- configure of xUnit https://xunit.github.io/docs/configuring-with-xml.html -->
        <add key="xunit.methodDisplay" value="classAndMethod" />
        <add key="xunit.parallelizeAssembly" value="true" />
        <add key="xunit.parallelizeTestCollections" value="true" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>