type: loader
# max 3 items are allowed
branch-configs:
  - suffix: "" # suffix should be unique with others
    branch: main
    config: ./perf/BenchmarkApp/configs/schedule_ci.yaml
  - suffix: "-1"
    branch: main
    config: ./perf/BenchmarkApp/configs/schedule_serverstreaming.yaml
  - suffix: "-2"
    branch: feature/ImprovePerformance
    config: ./perf/BenchmarkApp/configs/workflow_dispatch_messagepack_h2c.yaml
  - suffix: "-3"
    branch: main
    config: ./perf/BenchmarkApp/configs/workflow_dispatch_messagepack_h2c_nugetclient.yaml
  - suffix: "-4"
    branch: main
    config: ./perf/BenchmarkApp/configs/workflow_dispatch_messagepack_h2c_nugetserver.yaml
