/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1850aa;
  --ifm-color-primary-dark: #164899;
  --ifm-color-primary-darker: #144491;
  --ifm-color-primary-darkest: #113877;
  --ifm-color-primary-light: #1a58bb;
  --ifm-color-primary-lighter: #1c5cc3;
  --ifm-color-primary-lightest: #1f68dd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a8caff;
  --ifm-color-primary-dark: #7eb0ff;
  --ifm-color-primary-darker: #69a3ff;
  --ifm-color-primary-darkest: #297dff;
  --ifm-color-primary-light: #d2e4ff;
  --ifm-color-primary-lighter: #e7f1ff;
  --ifm-color-primary-lightest: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
