name: Benchmark

on:
  issue_comment:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  issues: write
  pull-requests: write

jobs:
  # run benchmark
  benchmark:
    strategy:
      fail-fast: false
      max-parallel: 1 # serial execution
      matrix:
        include:
          # 1
          - channels: 28
            streams: 1
          # 1x1
          - channels: 1
            streams: 1
          # 70
          - channels: 28
            streams: 70
          # 70x1
          - channels: 1
            streams: 70
    uses: Cysharp/Actions/.github/workflows/benchmark.yaml@main
    with:
      dotnet-version: "8.0"
      environment: benchmark
      benchmark-name: "magiconion-${{ github.event.issue.number || github.run_number }}"
      benchmark-timeout: 20 # 10min (env prepare) + 5min (clone & benchmark) + 5min (spare)
      client-benchmark-script-path: ".github/scripts/run-benchmark-client.sh"
      client-benchmark-script-args: "--args \"-u http://${BENCHMARK_SERVER_NAME}:5000 -s CI --channels ${{ matrix.channels }} --streams ${{ matrix.streams }}\""
      server-benchmark-script-path: ".github/scripts/run-benchmark-server.sh"
      server-benchmark-script-args: ""
    secrets: inherit
