name: "Update Package.json"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Unity Package Version you want update to. (sample 1.0.0)"
        required: true
      create_pr:
        description: "true to create pr, false to direct push."
        required: true
        default: "false"

jobs:
  stale:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ github.event.inputs.version }}
      TARGET_FILE: ./src/MagicOnion.Client.Unity/Assets/Scripts/MagicOnion/package.json
      CREATE_PR: ${{ github.event.inputs.create_pr }}
    steps:
      - uses: actions/checkout@v2
      - name: before
        run: cat ${{ env.TARGET_FILE}}
      - name: update package.json to version ${{ env.VERSION }}
        run: sed -i -e "s/\(\"version\":\) \"\(.*\)\",/\1 \"${{ env.VERSION }}\",/" ${{ env.TARGET_FILE }}
      - name: after
        run: cat ${{ env.TARGET_FILE}}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: "feat: Update package.json to ${{ env.VERSION }}"
          branch: feat/bump_package_json_${{ env.VERSION }}
          title: "Auto-genetaed: Update package.json to ${{ env.VERSION }}"
          body: |
            ${{ env.TARGET_FILE }} is updated to new verison ${{ env.VERSION }} :rocket:
          labels: automated pr
          draft: false
        if: env.CREATE_PR == 'true'
      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
        if: env.CREATE_PR == 'true'
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -m "feat: Update package.json to ${{ env.VERSION }}" -a
        if: env.CREATE_PR != 'true'
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
        if: env.CREATE_PR != 'true'
